<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th> average </th>
		</tr>
	</thead>
	<tbody>
	<% objects.each do |o| %>
		<tr>
			<td> <%= link_to o.name, o %> </td>
			<td> <%= round(o.average_rating) %> </td>
		</tr>
		<% end %>
	</tbody>
</table>